.header-row>div,
.content-row>div,
.footer-row>div {
    border: 1px solid #d3d3d3;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

@media (min-width: 1200px) {
    .left-header {
        background-color: #ffa500 !important;
        color: black !important;
        font-weight: bold !important;
    }

    .right-header {
        color: red !important;
    }

    .left-footer {
        color: blue !important;
    }

    .right-footer {
        background-color: #ffa500 !important;
        color: black !important;
        font-weight: bold !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .right-header {
        background-color: #ffcccc !important;
        font-size: 1.25rem !important;
        font-weight: 700 !important;
        min-height: 100px !important;
        color: black !important;
    }

    .main-content {
        background-color: #ffcccc !important;
        font-weight: 700 !important;
        color: black !important;
        min-height: 260px !important;
    }

    .left-footer {
        background-color: #ffcccc !important;
        font-size: 1.15rem !important;
        min-height: 90px !important;
        font-weight: 700 !important;
        color: black !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .right-header {
        font-size: 1.2em !important;
        font-weight: bold !important;
    }

    .left-menu,
    .right-menu {
        background-color: #e6ccff !important;
        color: black !important;
        min-height: 60px !important;
    }

    .main-content {
        font-size: 1.2em !important;
        font-weight: bold !important;
        min-height: 300px !important;
    }
}

@media (max-width: 767px) {

    .header-row>div,
    .content-row>div,
    .footer-row>div {
        color: green !important;
        margin-bottom: -1px !important;
    }

    .main-content {
        min-height: 260px !important;
    }

    .left-menu,
    .right-menu {
        min-height: 60px !important;
    }
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-row {
    flex: 1;
}

body {
    margin: 0;
    padding: 0;
}